@charset "UTF-8";

body{
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    display: flex;
    padding: 0px;
    margin: 0px;
    height: 500px;
    max-width: 700px;
    justify-content: center;
    align-items: center;
}

section{
    display: block;
}

#imagem{
    height: 500px;
    padding: 0px;
    margin: 0px;
}

#formu{
    display: block;
}

label{
    display: flex;
    width: 50px;
    height: 36px;
    border-radius: 5px 0px 0px 5px;
    padding-left: 0;
}

label > p{
    display: none;
}


.imgicons{
    display: block;
    padding: 0px 8px 0px 8px;
    width: 26px;
    height: 23px;
}

#emailsenha{
    display: flex;
    margin: 0px 20px 20px 10px;
    text-align: left;
}

.senha, .email{
    border-radius: 0px 5px 5px 0px;
    height: 40px;
}