@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: default;
}

body{
    display: flex;
    justify-content: center;
    justify-items: center;
    height: 100vh;
}

main{
    background-color: gray;
    width: 60%;
    max-width: 900px;
    margin: auto;
    margin-top: 18vh;
    padding-bottom: 20px;
    border-radius: 20px 0px ;
    box-shadow: 8px 8px 20px 5px rgba(0, 0, 0, 0.349);
}

main > section{
    margin: auto;
    text-align: center;
}

#imagem{
    background-image: url(images/gatomobile.jpg);
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 200px;
    border-radius: 20px 0px 0px;
}

h1{
    margin-top: 10px;
    margin-bottom: 10px;
}

p{
    margin-bottom: 10px;
}

#formu{
    display: block;
    width: 100%;
}

label{
    display:flex;
    align-items: center;
    width: 90px;
    height: 30px;
    padding: 4px 0px 0px 4px;
    background-color: rgb(192, 193, 194);
}

label > p{
    margin: 10px 0px 10px 5px;
}

.imgicons{
    width: 16px;
    height: 14px;
}

#emailsenha{
    display: block;
    margin: 0px 20px 20px 10px;
    text-align: left;
}

.senha, .email{
    height: 30px;
    width: 100%;
    border: none;
    cursor: text;
    padding-left: 10px;
    border-radius: 0px 5px 5px 5px;
}

.botao{
    height: 35px;
    width: 100px;
    border: none;
    margin: 5px 0px 20px 0px;
    background-color: whitesmoke;
    color: black;
    transition: transform .5s, color .5s, background-color .5s;
}

.botao:hover{
    background-color: black;
    color: white;
    transform: scale(1.1);
    cursor: pointer;
    transition: transform .5s, color .5s, background-color .5s;
}

a{
    color: white;
    text-decoration: underline;
    cursor: pointer;
}

a:hover{
    color: black;
    text-decoration: none;
    transition: color .5s, text-decoration 2s ;
}